<div class="row">
    <p><a href="#!/"><i class="glyphicon glyphicon-arrow-left"></i> Back</a></p>
    <form action="" class="form-horizontal col-sm-6">
        <div class="page-header">
            <h4>Add author</h4>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Photo url</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Enter photo url" ng-model="$ctrl.author.photo">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Author ID (Scopus)</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="$ctrl.author.id" ng-change="$ctrl.onIdUpdate()">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3">
                <button class="btn btn-block btn-primary" type="button" ng-click="$ctrl.save()">Save</button>
            </div>
        </div>
    </form>
    <div class="col-sm-6">
        <div class="page-header">
            <h4>Author preview</h4>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" ng-src="{{$ctrl.author.photo ? $ctrl.author.photo :
                ($ctrl.preview.photo ? $ctrl.preview.photo : 'images/no-avatar.jpg')}}" alt="">
                <!--<img class="img-responsive" ng-if="!$ctrl.author.photo" src="images/no-avatar.jpg" alt="">-->
            </div>
            <div class="col-sm-6" ng-if="$ctrl.scopusLoading">
                <img src="images/preloader.gif" alt="">
            </div>
            <div ng-if="!$ctrl.scopusLoading && ($ctrl.author.id.length > 0) && !$ctrl.preview" class="col-sm-6">
                <p>Author with id {{$ctrl.author.id}} is not found.</p>
            </div>
            <div ng-if="!$ctrl.scopusLoading && $ctrl.preview" class="col-sm-6">
                <h4>{{$ctrl.preview.name}}</h4>
                <small>{{$ctrl.preview.id}}</small>
                <p>{{$ctrl.preview.publications}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="page-header">
        <h4>Known Authors</h4>
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" ng-model="$ctrl.authors" ng-repeat="author in $ctrl.authors | orderMapValuesBy:'name'">
                <div class="media">
                    <div class="media-left">
                        <img class="media-object" style="max-width: 100px;"
                             ng-src="{{author.photo ? author.photo : 'images/no-avatar.jpg'}}">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{author.name}}</h4>
                        <small>{{author.id}}</small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>