<div class="row">
    <div class="page-header">
        <p class="pull-right" ng-if="$ctrl.orderProp === 'citations'" ng-click="$ctrl.reorderBy('lastCited')">most cited | <a>last cited</a></p>
        <p class="pull-right" ng-if="$ctrl.orderProp === 'lastCited'" ng-click="$ctrl.reorderBy('citations')"><a>most cited</a> | last cited</p>
        <h4>Publications</h4>
        <div class="clearfix"></div>
    </div>
    <div class="row">

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="pub in $ctrl.filteredPublications | orderBy:$ctrl.orderProp:true">
                <sc-publication pub="pub"></sc-publication>
            </li>
        </ul>
        <ul uib-pagination
                ng-model="$ctrl.currentPage"
                total-items="$ctrl.totalItems"
                boundary-links="true"
                ng-change="$ctrl.pageChanged()"
        >
        </ul>
    </div>
</div>