<div class="row">
    <sc-publication></sc-publication>
    <div class="page-header">
        <h4>Publications</h4>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">
                <div>
                    <h4>Innopolis university-A new it resource for Russia <small>(Conference Paper)</small></h4>
                </div>
                <p class="pull-right">Cited by 10 documents</p>
                <p>Kondratyev, D.a,  Tormasov, A.a,  Stanko, T.a,  Jones, R.C.b,  Taran, G.c</p>
            </li>
            <li class="list-group-item">
                <sc-publication></sc-publication>
            </li>
            <li class="list-group-item">
                <sc-publication></sc-publication>
            </li>
        </ul>
    </div>
</div>