<div class="col-sm-3 col-lg-3 col-md-3">
    <div class="thumbnail">
        <img ng-src="author.photo ? author.photo : '../images/no-avatar.jpg'"" alt="">
        <div class="caption">
            <h4><a href="#">{{author.name}}</a>
            </h4>
            <small>Associate Professor, PhD in Computer Science</small>
        </div>
        <div class="ratings">
            <p class="pull-right">15 citations</p>
            <p>
                20 publications
            </p>
        </div>
    </div>
</div>